body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cart-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: 400px;
}

h1 {
  font-size: 24px;
  margin-bottom: 40px;
}

ul {
  list-style-type: none;
  padding: 0;
   margin-bottom: 20px;
}

li {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

li div {
  margin-bottom: 20px;
}

button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

button:disabled {
  background-color: #ccc;
}

button:not(:last-child) {
  margin-right: 5px;
}

.total {
  font-weight: bold;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
